/* ベース色
----------------------------------------- */
// $color-main: #ededed;
$color-accent: #1571da;
// $color-sub: #f2f2f2;
$color-text: #1571da;
$color-link: #333;
$color-linkhover: #ffa252;
$color-background: #efefef;
