/* フォントサイズやフォントファミリーなどの変数
----------------------------------------- */
$font-family-base: 'ヒラギノ角ゴシック', sans-serif;
$font-family-english: 'Michroma', sans-serif;
$font-size-base: 16px;
$font-weight-base: 400;
$line-height-base: 1.6;
$letter-spacing-base: 0.05em;
