/* container
----------------------------------------- */
@use "../function/responsive" as res;

.l-container {
  width: 100%;
  max-width: 1020px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  @include res.responsive(sm) {
    padding-right: 40px;
    padding-left: 40px;
  }
  @include res.responsive(lg) {
    max-width: 1080px;
  }
}
