/* listInstagram
----------------------------------------- */
@use "../setting/setting" as set;
@use "../function/responsive" as res;

.c-listInstagram__wrap {
  padding-top: 32px;
  @include res.responsive(lg) {
    padding-top: 62px;
  }
}

.c-listInstagram__imgWrap {
  display: flex;
  flex-wrap: wrap;
}

.c-listInstagram__item {
  width: 25%;
  border: 0.5px solid set.$color-accent;
}
